In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('for_demo.csv',sep='|',header=None, names=['output','input'])

In [10]:
df['input'] = '<span>'+df['input']+'</span>'

In [11]:
df.head()

,output,input
0,http://52.203.230.115/txtimgsearch/?text_query...,<span>Ein schwarzes Hemdkleid. Es hat einen He...
1,http://52.203.230.115/txtimgsearch/?text_query...,"<span>Ein knielanges, hell pinkes Kleid. Es be..."
2,http://52.203.230.115/txtimgsearch/?text_query...,"<span>Ein kurzärmliges Kleid , das deutlich üb..."
3,http://52.203.230.115/txtimgsearch/?text_query...,<span>Langes Sommerkleid ohne Ärmeln. Das Klei...
4,http://52.203.230.115/txtimgsearch/?text_query...,<span>Kurzes sexy Minikleid mit vertikalen sch...

In [12]:
df.output[1]

'http://52.203.230.115/txtimgsearch/?text_query=Ein+knielanges,+hell+pinkes+Kleid.+Es+besitzt+einen+runden+Ausschnitt,+keine+Ärmel+und+die+Schultern+sind+frei.'

In [14]:
df['output'] = '<iframe class="output" src="'+df.output+'" seamless>'

In [16]:
df.to_csv('zalando.csv',index=False)

In [18]:
!open .